@charset "utf-8";

@media screen and (min-width: 481px)  and (max-width: 768px) {
    body {
        background: url(../imagens/back-tablet.jpg) center no-repeat;
        background-size: cover;
    }

    img#pc {display: none;}
    img#impressora {display: none;}
    img#celular {display: none;}
    img#tv {display: none;}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    body {
        background: url(../imagens/back-pc.jpg) center no-repeat;
        background-size: cover;
    }

    main {
        width: 550px;
    }

    img#celular {display: none;}
    img#impressora {display: none;}
    img#tablet {display: none;}
    img#tv {display: none;}
}

@media screen and (min-width: 1024px) {
    body {
        background: url(../imagens/back-tv.jpg) center no-repeat;
        background-size: cover;
    }

    main {
        width: 650px;
    }

    img#pc {display: none;}
    img#impressora {display: none;}
    img#tablet {display: none;}
    img#celular {display: none;}
}

@media print {
}