@charset "utf-8";



body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

iframe {
    border: 1px solid black;
    width: 400px;
    height: 400px;
    margin: auto;
}