@charset "utf-8";

@media print {
    * {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .material-icons, menu {
        display: none;
    }
}

@media only screen and (min-width: 576px)
{
    #itens {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }

    .material-icons {
        display: none;
    }

    main {
        max-width: 768px;
    }
}

