@charset "utf-8";

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    background-color: white;
    width: 700px;
    border-radius: 8px;
    box-shadow: 5px, 5px, 10px, rgb(rgb(140, 3, 3), rgb(93, 144, 93), rgb(53, 53, 111));
    text-align: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px;
}

body {
    background-image: linear-gradient(to bottom, #7b37b7, #9b16bc);
    background-attachment: fixed;
}

h1  {
    color: #702a9b;
}

h2 {
    color: #a5009c;
}

img {
    border-radius: 100px;
}


